button{
    border-radius: 3px;
    font-weight: bold;
    font-size: 13px;
    /* width: 120px;
    height: 40px; */
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.bootstrap-btn-1{
    background-color: rgb(121,82,179);
    color: white;
    border: none;
    margin-right: 8px;
    transition: background-color 0.15s;
}
.bootstrap-btn-1:hover{
    background-color: rgb(70, 30, 129);
}
.bootstrap-btn-2{
    background-color: white;
    color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
    border: solid;
    border-width: 1px;
    transition: background-color 0.15s, color 1s;

}
.bootstrap-btn-2:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}